.div1{
    position: absolute;
    top: 40%;
    left: 50%;
    margin: -170px 0 0 -170px;
    width: 340px;
    padding: 36px;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 0 100px rgba(0,0,0,.3);
    border-radius: 2px;
}
.div2{
    padding: 36px;

}
.tabs1 :global(.ant-tabs-nav .ant-tabs-tab){
    margin-right: 0;
    width: 134px;
    text-align: center;
}
