.view1{
    height: 240px;
    overflow: hidden;
    background: #f7f8fa;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    transition: height .3s;
    align-items: flex-end;
}
.upload1{
    margin:20px 20px 0 0;
}
.view2{
    background-color: #fff;
    margin: 0 20px 24px;
    flex-direction: row;
}
.view3{
    margin-top: -24px;
    z-index: 1;
    cursor: pointer;
    height: 160px;
    width: 160px;
    overflow: hidden;
    border: 4px solid #fff;
    border-radius: 8px;
    background-image: url(../../images/defaultAvatar.jpg);
    background-size: contain;
}
.view5{
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.4);
    flex:1;
    justify-content: center;
    align-items: center;
}
.span1{
    color: #fff;
    font-size: 18px;
    margin-top: 5px;
}
.view6{
    flex:1;
    margin-left: 30px;
}
.span2{
    font-size: 26px;
    font-weight: 600;
}
.view7{
    padding: 30px 0;
    border-bottom: 1px solid #ebeef5;
    flex-direction: row;
}
.span3{
    width: 140px;
    font-size: 15px;
    font-weight: 600;
    line-height: 36px;
    color: #333;
}
.view8{
    flex:1;
    flex-direction: row;
    align-items: center;
}
.div1{
    margin-top: 30px;
}
.span4{
    font-size: 15px;
    color: #262626;
}
